<style>
    p {
        font-weight: 400;
    }
</style>

<div class="container">
    <div class="row mt-5">
        <h1 class="text-light">Buscar informe</h1>
        <div class="row align-items-center">
            <div class="col">
                <form action="" method="get" class="form-inline">
                    <div class="row">
                        <div class="input-group">
                            <label for="find" class="input-group-text"
                                style="background-color: #fff; top: 12px; left: 12px; "><i
                                    class="fa-solid fa-magnifying-glass" style="color: #6b788e;"></i></label>
                            <input type="text" id="find" name="find" class="form-control"
                                placeholder="Buscar por cédula" value="{{find}}">
                            <button type="submit" class="btn btn-light">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col d-flex justify-content-end" style="">
            </div>
        </div>
        {{#if noData}}
        <div class="col md-3" style="padding-top: 20px;">
            <center style="padding-top: 100px;">
                <h1>{{noData}}</h1>
            </center>
        </div>
        {{/if}}
        {{#if inspectionData}}
        <div class="col md-3" style="padding-top: 20px;">
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Placa</th>
                        <th>Fecha de inspeccion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inspectionData}}
                    <tr>
                        <th>
                            <p>{{driverId}}</p>
                        </th>
                        <th>
                            <p>{{name}}</p>
                        </th>
                        <th>
                            <p>{{licensePlateId}}</p>
                        </th>
                        <th>
                            <p>{{date}}</p>
                        </th>
                        <th>
                            <a href="/informe" class="btn btn-info">Mirar informe</a>
                            <a href="/pdf/{{idInspection}}" class="btn btn-primary">Descargar informe</a>

                        </th>
                    </tr>
                    {{/each}}
                </tbody>
          
            </table>
        </div>
        {{/if}}
    </div>
</div>