<section class="container">
    <header class="text-light">Buscar informe</header>
    {{#if inspectionData}}
    <div class="col md-3" style="padding-top: 20px;">
        <table id="example" class="table table-bordered table-hover" style="width: 100%;    ">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>CONDUCTOR</th>
                    <th>PLACA</th>
                    <th>TIPO DE VEHICULO</th>
                    <th>COMPAÑIA</th>
                    <th>PERTENECE</th>
                    <th>FECHA</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                {{#each inspectionData}}
                <tr>
                    <td>
                        {{Inspection_Id}}
                    </td>
                    <td>
                        {{User_FirstName}} {{User_FirstLastName}} {{User_SecondLastName}}
                    </td>
                    <td>
                        {{Vehicle_Plate}}
                    </td>
                     <td>
                        {{TypeVehicle_Name}}
                    </td>
                    <td>
                        {{CompanyVehicle_Name}}
                    </td>
                    <td>
                        {{Belongs_Text}}
                    </td>
                    <td>
                        {{InspectionDate_DateFormat}}
                    </td>
                    <td>
                        <div class="" style="display: flex; justify-content: space-evenly;">
                            <a href="/informe/{{Inspection_Id}}/{{InspectionDate_DateFormat}}" target="_blank" class="btn btn-warning"><i
                                    class="fa-solid fa-eye"></i></a>
                            <a href="/pdf/{{Inspection_Id}}/{{InspectionDate_DateFormat}}" class="btn btn-info"><i
                                    class="fa-solid fa-download"></i></a>
                            {{!-- <a href="/deleteReport/{{Inspection_Id}}" class="btn btn-danger"><i
                                    class="fa-solid fa-trash"></i></a> --}}
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    {{/if}}
</section>