<div class="container p-4">
    <div class="row" style="margin-top: 5%;">
        <form class="needs-validation" action="/editDriver/{{driver.idDriver}}" method="post" novalidate>
            <div class="col-md-10 mx-auto">
                <div class="card text-center">
                    <div class="card-header" style="background-color: rgb(179, 197, 216);">
                        <h3 class="text">Agregar conductor</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group mt-3 ">
                            <label for="idDriver" class="input-group-text">Cédula: </label>
                            <input class="form-control" type="text" name="idDriver" id="idDriver"
                                value="{{driver.idDriver}}" placeholder="" autofocus required>
                            <div class="valid-feedback">
                                ¡Esta bien!
                            </div>
                            <div class="invalid-feedback">
                                ¡Falta rellenar!
                            </div>
                        </div>
                        <div class="input-group mt-3">
                            <label for="name" class="input-group-text">Nombres completos: </label>
                            <input class="form-control text-uppercase" type="text" name="name" id="name"
                                value="{{driver.name}}" required>
                            <div class="valid-feedback">
                                ¡Esta bien!
                            </div>
                            <div class="invalid-feedback">
                                ¡Falta rellenar!
                            </div>
                        </div>
                        <div class="input-group mt-3 ">
                            <label for="cellPhoneNumber" class="input-group-text">Celular: </label>
                            <input class="form-control" type="text" name="cellPhoneNumber" id="cellPhoneNumber"
                                value="{{driver.cellPhoneNumber}}" required>
                            <div class="valid-feedback">
                                ¡Esta bien!
                            </div>
                            <div class="invalid-feedback">
                                ¡Falta rellenar!
                            </div>
                        </div>
                        <div class="input-group mt-3 ">
                            <label for="licenseNumber" class="input-group-text">N° licencia: </label>
                            <input class="form-control number" type="text" name="licenseNumber" id="licenseNumber"
                                value="{{driver.licenseNumber}}" required>
                            <div class="valid-feedback">
                                ¡Esta bien!
                            </div>
                            <div class="invalid-feedback">
                                ¡Falta rellenar!
                            </div>
                        </div>
                        <div class="input-group mt-3 ">
                            <label for="licenseCategoryId" class="input-group-text">Categoria: </label>
                            <select id="licenseCategoryId" name="licenseCategoryId" class="form-select">
                                <option value="{{driver.idLicenseCategory}}" selected>{{driver.category}}</option>
                                {{#each category}}
                                <option value="{{idLicenseCategory}}">{{category}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group mt-3 ">
                            <label for="driversLicenseExpiration" class="input-group-text">Fecha de vencimiento:
                            </label>
                            <input class="form-control" type="date" name="driversLicenseExpiration"
                                id="driversLicenseExpiration" value="{{driver.driversLicenseExpiration}}" required>
                            <div class="valid-feedback">
                                ¡Esta bien!
                            </div>
                            <div class="invalid-feedback">
                                ¡Falta rellenar!
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Agregar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var selectElement = document.getElementById("licenseCategoryId");
    var options = selectElement.options;
    var selectedValue = "{{driver.idLicenseCategory}}";

    for (var i = 1; i < options.length; i++) {
        var option = options[i];
        console.log(option);
        if (option.value === selectedValue) {

            option.style.display = "none";
        } else {
            option.style.display = "";
        }
    }
</script>