<section class="container">
    <header>Buscar conductor</header>
    <div class="col d-flex justify-content-end">
        <a href="/addconductor" class="nextBtn" style="text-decoration: none;">
            Registrar conductor
        </a>
    </div>
    {{#if drivers}}
    <div class="col md-3" style="padding-top: 20px;">
        <table id="example" class="table table-striped" style="width: 100%; ">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>N° Licencia</th>
                    <th>Categoria</th>
                    <th>Fecha de vencimiento</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each drivers}}
                <tr>
                    <td>{{idDriver}}</td>
                    <td>{{name}}</td>
                    <td>{{cellPhoneNumber}}</td>
                    <td>{{licenseNumber}}</td>
                    <td>{{category}}</td>
                    <td>{{driversLicenseExpiration}}</td>
                    <td>
                        <div>
                            <a href="/editDriver/{{idDriver}}" class="btn btn-warning"><i
                                    class="fa-solid fa-pencil"></i>&nbsp;&nbsp; Editar</a>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    {{/if}}
</section>