<style>
    .aselect {
        display: none;
    }
</style>
<div class="container p-4">
    <div class="row">
        <form class="needs-validation" action="/edit/{{vehicle.idLicensePlate}}" method="post" novalidate>
            <div class="col-md-12 mx-auto">
                <div class="card text-center">
                    <div class="card-header" style="background-color: rgb(179, 197, 216);">
                        <h3 class="text">1. Información del vehiculo</h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="idLicensePlate" class="input-group-text">Placa: </label>
                                    <input class="form-control" type="text" name="idLicensePlate" id="idLicensePlate"
                                        placeholder="XXX-XXX" value="{{vehicle.idLicensePlate}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="driverId" class="input-group-text">Cedula de conductor: </label>
                                    <input class="form-control" type="text" name="driverId" id="driverId" placeholder=""
                                        value="{{vehicle.driverId}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="trafficLicenseNumber" class="input-group-text">N° Licencia de transito:
                                    </label>
                                    <input class="form-control" type="text" name="trafficLicenseNumber"
                                        id="trafficLicenseNumber" placeholder=""
                                        value="{{vehicle.trafficLicenseNumber}}" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label class="input-group-text">Tipo de vehiculo: </label>
                                    <select id="opcion" name="opcion" class="form-select">
                                        <option value="{{vehicle.vehicleType}}" selected>{{vehicle.vehicleType}}
                                        </option>
                                        <option value="Sencillo">Sencillo</option>
                                        <option value="Doble troque">Doble troque</option>
                                        <option value="Tracto camión">Tracto camión</option>
                                        <option value="Contingencia">Contingencia</option>
                                        <option value="otro">Otro</option>
                                    </select>

                                    <input class="form-control" type="text" id="vehicleType" name="vehicleType"
                                        onblur="hideInput()" oninput="showSelectIfEmpty()" style="display: none;"
                                        disabled required>

                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="driversLicenseExpiration" class="input-group-text">Vencimiento licencia
                                        de
                                        conducción:
                                    </label>
                                    <input class="form-control" type="date" name="driversLicenseExpiration"
                                        id="driversLicenseExpiration" value="{{vehicle.driversLicenseExpiration}}"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="technomechanicsReviewExpiry" class="input-group-text">Vencimiento
                                        revisión tecnico mecanica: </label>
                                    <input class="form-control" type="date" name="technomechanicsReviewExpiry"
                                        id="technomechanicsReviewExpiry" value="{{vehicle.technomechanicsReviewExpiry}}"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="soatExpiration" class="input-group-text">Vencimiento SOAT: </label>
                                    <input class="form-control" type="date" name="soatExpiration" id="soatExpiration"
                                        value="{{vehicle.soatExpiration}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryLifeLine" class="input-group-text">Vencimietno linea de vida:
                                    </label>
                                    <input class="form-control" type="date" name="expiryLifeLine" id="expiryLifeLine"
                                        value="{{vehicle.expiryLifeLine}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryCivilLiabilityPolicy" class="input-group-text">Vencimiento
                                        poliza de responsabilidad civil: </label>
                                    <input class="form-control" type="date" name="expiryCivilLiabilityPolicy"
                                        id="expiryCivilLiabilityPolicy" value="{{vehicle.expiryCivilLiabilityPolicy}}"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3 ">
                                    <label for="expiryCivilHydrocarbonsPolicy" class="input-group-text">Vencimiento
                                        porliza civil de hidrocarburos:
                                    </label>
                                    <input class="form-control" type="date" name="expiryCivilHydrocarbonsPolicy"
                                        id="expiryCivilHydrocarbonsPolicy"
                                        value="{{vehicle.expiryCivilHydrocarbonsPolicy}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card text-center">
                    <div class="card-header" style="background-color: rgb(179, 197, 216);">
                        <h3 class="text">2. Información de tanque</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="idTrailerPlate" class="input-group-text">Placa de tráiler: </label>
                                    <input class="form-control" type="text" name="idTrailerPlate" id="idTrailerPlate"
                                        placeholder="XXX-XXX" value="{{vehicle.idTrailerPlate}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="capacityTable" class="input-group-text">Tabla de aforo: </label>
                                    <input class="form-control" type="text" name="capacityTable" id="capacityTable"
                                        placeholder="" value="{{vehicle.capacityTable}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="input-group mt-3">
                                    <label for="hydrostaticExpiration" class="input-group-text">Vencimietno
                                        hidroestática:
                                    </label>
                                    <input class="form-control" type="date" name="hydrostaticExpiration"
                                        id="hydrostaticExpiration" placeholder=""
                                        value="{{vehicle.hydrostaticExpiration}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col">

                                <div class="input-group mt-3">
                                    <label for="expiryFifthWheel" class="input-group-text">Vencimiento quinta rueda:
                                    </label>
                                    <input class="form-control" type="date" name="expiryFifthWheel"
                                        id="expiryFifthWheel" placeholder="" value="{{vehicle.expiryFifthWheel}}"
                                        required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3"></div>
                            <div class="col-6">
                                <div class="input-group mt-3">
                                    <label for="kingPinExpiry" class="input-group-text">Vencimiento king pin: </label>
                                    <input class="form-control" type="date" name="kingPinExpiry" id="kingPinExpiry"
                                        placeholder="" value="{{vehicle.kingPinExpiry}}" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>
                            <div class="col-3"></div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Editar registro</button>
                </div>
        </form>
    </div>
</div>
<script>
    function hideSelect() {
        document.getElementById("opcion").style.display = "none";
    }

    function showSelect() {
        document.getElementById("opcion").style.display = "block";
    }

    function hideInput() {
        const vehicleType = document.getElementById("vehicleType");
        const opcion = document.getElementById("opcion");
        if (vehicleType.value === "") {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    }

    document.getElementById("opcion").addEventListener("change", function () {
        const vehicleType = document.getElementById("vehicleType");
        const opcionSeleccionada = this.value;
        if (opcionSeleccionada === "otro") {
            hideSelect();
            vehicleType.style.display = "block";
            vehicleType.disabled = false;
            vehicleType.focus();
        } else {
            vehicleType.style.display = "none";
            vehicleType.disabled = true;
            showSelect();
        }
    });

    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated');
            }, false)
        })
    })()

    var selectElement = document.getElementById("opcion");
    var options = selectElement.options;
    var selectedValue = "{{vehicle.vehicleType}}";

    for (var i = 1; i < options.length; i++) {
        var option = options[i];
        if (option.value === selectedValue) {
            option.style.display = "none";
        } else {
            option.style.display = "";
        }
    }
</script>