<style>
    .campos-adicionales {
        display: none;
    }
</style>
<section class="container">
    <form action="/inspectVehiculo/{{Inspection_Id}}" id="encuestaForm" method="post"
        enctype="application/x-www-form-urlencoded">
        <div class="fecha">
            <div class="input-fecha">
                {{#if (eq date undefined)}}
                <label>Fecha de inspección </label>
                <input type="date" name="date" id="date" value="">
                {{else}}
                <label>Fecha de inspección</label>
                <input type="date" name="date" id="date" value="{{date}}">
                {{/if}}

            </div>
        </div>
        <div class="accordion">

            {{#each specifications}}
            <div class="accordion-content">
                <div class="header">

                    <span class="title">{{InspectionSpecification_Id}}. {{InspectionSpecification_Name}}</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="description">
                    {{#each ../subspecifications}}
                    {{#if (eq InspectionSubSpecification_IdSpecification ../InspectionSpecification_Id)}}
                    <div class="preguntas">
                        <span class="title">{{InspectionSubSpecification_Id}}.
                            {{InspectionSubSpecification_Name}}</span>
                        <div class="row" name="{{InspectionSubSpecification_Id}}">
                            <div class="col bueno">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}bueno" autocomplete="off" value="1" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '1' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}bueno">Bueno</label>
                            </div>
                            <div class="col malo">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}malo" autocomplete="off" value="2" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '2' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}malo">Malo</label>
                            </div>
                            <div class="col no_aplica">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}no_aplica" autocomplete="off" value="3" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '3' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}no_aplica">No Aplica</label>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
            <div class="final">
                <div class="header">
                    <span class="title">FINALIZACIÓN</span>
                </div>
                <div class="description">
                    <div class="preguntas">
                        {{!-- <div class="row-fin">
                            <button type="button" id="criterios" onclick="mostrarCampos()">Criterios </button>
                        </div>

                        <div class="campos-adicionales">
                            <h2>Campos Adicionales:</h2>
                            <br>
                            <div class="row">
                                <div class="col only">
                                    <label for="descripcion">Descripción:</label>
                                    <input type="text" id="descripcion" name="descripcion" required>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <label for="accion-cierre">Acción de Cierre:</label>
                                    <input type="text" id="accion-cierre" name="accion-cierre" required>
                                </div>
                                <div class="col ">
                                    <label for="responsable">Responsable (nombre-cargo):</label>
                                    <input type="text" id="responsable" name="responsable" required>
                                </div>
                                <div class="col">
                                    <label for="fecha">Fecha:</label>
                                    <input type="date" id="fecha" name="fecha" required>
                                </div> 
                            </div>
                        </div>
                        <div class="row-fin">
                            <button type="button" id="agregar">Agregar</button>
                            <button type="button" id="cancelar" onclick="ocultarCampos()">Cancelar</button>
                        </div>
                        <br> --}}

                        <div class="row-fin">
                            <button type="submit">Inspeccion</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    var botonAgregar = document.getElementById('agregar');
    var botonCancelar = document.getElementById('cancelar');
    var botonCriterios = document.getElementById('criterios');
    botonAgregar.style.display = 'none';
    botonCancelar.style.display = 'none';

    function mostrarCampos() {
        var camposAdicionales = document.querySelector('.campos-adicionales');
        camposAdicionales.style.display = 'block';
        botonAgregar.style.display = 'inline-block';
        botonCancelar.style.display = 'inline-block';
        botonCriterios.style.display = 'none';
    }

    function ocultarCampos() {
        var camposAdicionales = document.querySelector('.campos-adicionales');
        camposAdicionales.style.display = 'none';
        botonAgregar.style.display = 'none';
        botonCancelar.style.display = 'none';
        botonCriterios.style.display = 'block';
    }


    $(document).ready(function () {
        $('#agregar').click(function () {
            const descripcion = $('#descripcion').val();
            const accionCierre = $('#accion-cierre').val();
            const responsable = $('#responsable').val();

            $.ajax({
                type: 'POST',
                url: '/agregarDatos',
                data: { descripcion, accionCierre, responsable },
                success: function (response) {
                    // You can handle the response as needed
                    console.log('Data added successfully:', response);

                    // Assuming you have a function to update the table with the new data
                    updateTable();
                },
                error: function (error) {
                    console.error('Error adding data:', error);
                },
            });
        });

        function updateTable() {
            // Implement a function to fetch and update the table with data from the server
            // You can use another AJAX request to get the updated data and manipulate the DOM
        }
    });

</script>