<style>
    body {
        align-items: center;
        justify-content: center;
    }

   


    .accordion-button:focus {
        box-shadow: none;
    }

  

   
    .accordion-body {
        background-color: #385c7e;
    }

    .preguntas {
        padding: 35px 40px;
       
        border-radius: 20px;
        width: 100%;
        background-color: #fffffffb;
    }



    .accordion-button:not(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }

    .accordion-button:is(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
</style>
<div class="container p-4">
    <div class="row">
        <div class="col-md-9  mx-auto">

            <form action="/inspectVehiculos/{{id_placa}}" id="encuestaForm" method="post">
                <div class="row" style="align-items: center; justify-content: center;">
                    <div class="col-2">
                        <input type="date" name="fecha" id="fecha">
                    </div>
                </div>

           
                {{#each especificacion}}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="margin-top: 10px;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#_acor{{id_especificaciones}}" aria-expanded="false"
                                aria-controls="#_acor{{id_especificaciones}}"
                                style="font-family: 'Open Sans', sans-serif;">
                                {{id_especificaciones}}. {{detalle}}

                            </button>
                        </h2>
                        <div id="_acor{{id_especificaciones}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {{#each ../subespecificacion}}
                                {{#if (eq especificacion_id ../id_especificaciones)}}
                                <div class="preguntas">
                                    <h5>{{detalle}}</h5>
                                    <br>
                                    <div class="row" name="{{id_subEspecificaciones}}">
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}" id="{{id_subEspecificaciones}}bueno"
                                                autocomplete="off" value="1">
                                            <label class="btn btn-outline-success" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}bueno">Bueno</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}" id="{{id_subEspecificaciones}}malo"
                                                autocomplete="off" value="2">
                                            <label class="btn btn-outline-danger" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}malo">Malo</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}"
                                                id="{{id_subEspecificaciones}}no_aplica" autocomplete="off"
                                                value="3">
                                            <label class="btn btn-outline-secondary" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}no_aplica">No
                                                Aplica</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <br>
                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#encuestaForm').submit(function (e) {
            var unansweredQuestions = [];
            const alreadyChecked = new Set();
            $('input[type="radio"]').each(function () {
                const name = $(this).attr('name');
                if (!alreadyChecked.has(name)) {
                    alreadyChecked.add(name);
                    if ($(`input[name="${name}"]:checked`).length === 0) {
                        const pregunta = $(this).closest('.preguntas').find('h5').text().trim();
                        unansweredQuestions.push("Pregunta " + name + ": " + pregunta);
                    }
                }
            });

            if (unansweredQuestions.length > 0) {
                e.preventDefault();
                var message = "Por favor, responde las siguientes preguntas:\n" + unansweredQuestions.join("\n");
                alert(message);
            }
        });
    });
</script>