<style>
    body {
        align-items: center;
        justify-content: center;
    }




    .accordion-button:focus {
        box-shadow: none;
    }




    .accordion-body {
        background-color: #385c7e;
    }

    .preguntas {
        padding: 35px 40px;

        border-radius: 20px;
        width: 100%;
        background-color: #fffffffb;
    }



    .accordion-button:not(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }

    .accordion-button:is(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
</style>
<div class="container p-4">
    <div class="row">
        <div class="col-md-9  mx-auto">

            <form action="/inspectVehiculo/{{idLicensePlate}}" id="encuestaForm" method="post"
                enctype="application/x-www-form-urlencoded">
                <div class="row" style="align-items: center; justify-content: center;">
                    <div class="col-6">
                        <div class="input-group ">
                            <label for="date" class="input-group-text">Fecha de inspección: </label>
                            <input class="form-control" type="date" name="date" id="date">
                        </div>
                    </div>
                </div>
                <br>

                {{#each specifications}}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="margin-top: 10px;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#_acor{{idSpecifications}}" aria-expanded="false"
                                aria-controls="#_acor{{idSpecifications}}"
                                style="font-family: 'Open Sans', sans-serif;">
                                {{idSpecifications}}. {{specification}}

                            </button>
                        </h2>
                        <div id="_acor{{idSpecifications}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {{#each ../subspecifications}}
                                {{#if (eq specificationId ../idSpecifications)}}
                                <div class="preguntas">
                                    <h5>{{subSpecification}}</h5>
                                    <br>
                                    <div class="row" name="{{idSubspecification}}">
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{idSubspecification}}" id="{{idSubspecification}}bueno"
                                                autocomplete="off" value="1">
                                            <label class="btn btn-outline-success" style="width: 100%;"
                                                for="{{idSubspecification}}bueno">Bueno</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{idSubspecification}}" id="{{idSubspecification}}malo"
                                                autocomplete="off" value="2">
                                            <label class="btn btn-outline-danger" style="width: 100%;"
                                                for="{{idSubspecification}}malo">Malo</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{idSubspecification}}"
                                                id="{{idSubspecification}}no_aplica" autocomplete="off" value="3">
                                            <label class="btn btn-outline-secondary" style="width: 100%;"
                                                for="{{idSubspecification}}no_aplica">No
                                                Aplica</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="margin-top: 10px;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#_acor" aria-expanded="false" aria-controls="#_acor"
                                style="font-family: 'Open Sans', sans-serif;">
                                FINALIZACIÓN
                            </button>
                        </h2>
                        <div id="_acor" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <div class="preguntas">
                                    <h5>Nombre completo y firma del inspecctor</h5>
                                    <br>
                                    <div class="row" name="">
                                        <div class="col-9">
                                            <div class="input-group" style="border-color: black !important;">
                                                <input type="text" name="inspector" id="inspector" class="form-control"
                                                    placeholder="Nombre completo">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group" style="border-color: black !important;">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#modalFirma" style="width: 100%;">
                                                    Reemplazar firma
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <img id="firmaPrevia" name="signature" src="" alt=""
                                                    style="max-width: 20%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalFirma" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir Firma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputFirma" class="input-group-text">Seleccionar una imagen de firma</label>
                    <input type="file" class="form-control-file" id="inputFirma">
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#dibujarFirmaModal">Dibujar Firma</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dibujarFirmaModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dibujar Firma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="border-primary">
                        <canvas id="signature" style="touch-action: none; border: 1px solid; border-radius: 10px;"
                            width="380" height="180"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="guardarFirma" class="btn btn-primary mt-3" style="width: 100%;">Guardar</button>
                    </div>
                    <div class="col-6">
                        <button id="borrarFirma" class="btn btn-secondary mt-3" style="width: 100%;">Borrar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script>
    $(document).ready(function () {
        $('#encuestaForm').submit(function (e) {
            var unansweredQuestions = [];
            const alreadyChecked = new Set();
            $('input[type="radio"]').each(function () {
                const name = $(this).attr('name');
                if (!alreadyChecked.has(name)) {
                    alreadyChecked.add(name);
                    if ($(`input[name="${name}"]:checked`).length === 0) {
                        const pregunta = $(this).closest('.preguntas').find('h5').text().trim();
                        unansweredQuestions.push("Pregunta " + name + ": " + pregunta);
                    }
                }
            });

            if (unansweredQuestions.length > 0) {
                e.preventDefault();
                var message = "Por favor, responde las siguientes preguntas:\n" + unansweredQuestions.join("\n");
                alert(message);
            }
        });
    });

    const firmaForm = document.getElementById('encuestaForm');

    document.addEventListener("DOMContentLoaded", function () {
        try {
            document.getElementById('inputFirma').addEventListener('change', function () {
                var inputFirma = document.getElementById('inputFirma');
                var firmaPrevia = document.getElementById('firmaPrevia');

                if (inputFirma.files.length > 0) {
                    var selectedImage = inputFirma.files[0];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var imageData = e.target.result;
                        firmaPrevia.src = imageData;
                        firmaPrevia.style.display = 'block';

                        $('#modalFirma').modal('hide');
                    };

                    reader.readAsDataURL(selectedImage);
                }
            });
        } catch (error) {
            console.error("Se produjo un error:", error);
        }


        try {
            // JavaScript para la funcionalidad de dibujo y previsualización en el modal "Dibujar Firm"
            var canvas = document.getElementById('signature');
            var signaturePad = new SignaturePad(canvas);

            document.getElementById('guardarFirma').addEventListener('click', function () {
                var signatureData = signaturePad.toDataURL(); // Obtiene la firm como una imagen en formato base64

                // Actualiza la fuente de la imagen con la firm previa
                var firmaPrevia = document.getElementById('firmaPrevia');
                firmaPrevia.src = signatureData;
                firmaPrevia.style.display = 'block';

                //const firmImagen = canvas.toDataURL('image/png');
                const firmaInput = document.createElement('input');
                firmaInput.type = 'hidden';
                firmaInput.name = 'signature';
                firmaInput.value = signatureData;
                firmaForm.appendChild(firmaInput);

                $('#dibujarFirmaModal').modal('hide');
            });

            document.getElementById('borrarFirma').addEventListener('click', function () {
                signaturePad.clear();
                var firmaPrevia = document.getElementById('firmaPrevia');
                firmaPrevia.src = '';
                firmaPrevia.style.display = 'none';
            });
        } catch (error) {
            console.error("Se produjo un error:", error);
        }
    });




</script>