<section class="container">
    <form action="/inspectVehiculo/{{Inspection_Id}}" id="encuestaForm" method="post"
        enctype="application/x-www-form-urlencoded">
        <div class="fecha">
            <div class="input-fecha">
                {{#if (eq date undefined)}}
                <label>Fecha de inspección </label>
                <input type="date" name="date" id="date" value="">
                {{else}}
                <label>Fecha de inspección</label>
                <input type="date" name="date" id="date" value="{{date}}">
                {{/if}}

            </div>
        </div>
        <div class="accordion">

            {{#each specifications}}
            <div class="accordion-content">
                <div class="header">

                    <span class="title">{{InspectionSpecification_Id}}. {{InspectionSpecification_Name}}</span>
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="description">
                    {{#each ../subspecifications}}
                    {{#if (eq InspectionSubSpecification_IdSpecification ../InspectionSpecification_Id)}}
                    <div class="preguntas">
                        <span class="title">{{InspectionSubSpecification_Id}}.
                            {{InspectionSubSpecification_Name}}</span>
                        <div class="row" name="{{InspectionSubSpecification_Id}}">
                            <div class="col bueno">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}bueno" autocomplete="off" value="1" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '1' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}bueno">Bueno</label>
                            </div>
                            <div class="col malo">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}malo" autocomplete="off" value="2" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '2' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}malo">Malo</label>
                            </div>
                            <div class="col no_aplica">
                                <input type="radio" name="{{InspectionSubSpecification_Id}}"
                                    id="{{InspectionSubSpecification_Id}}no_aplica" autocomplete="off" value="3" {{#each
                                    ../../radioAnswers}} {{#if (eq pregunta ../InspectionSubSpecification_Id )}} {{#if
                                    (eq respuesta '3' )}}checked {{/if}}{{/if}} {{/each}}>
                                <label for="{{InspectionSubSpecification_Id}}no_aplica">No Aplica</label>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/each}}
            <div class="final">
                <div class="header">
                    <span class="title">FINALIZACIÓN</span>
                </div>
                <div class="description">
                    <div class="preguntas">
                        <div class="row-fin">
                            <button type="button" id="openModalCriterios" class="btn btn-light"
                                style="margin-bottom: 10px;">Formulario de criterios</button>
                            <button type="submit">Inspeccionar</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>

<div id="modalCriterios" class="modal">
    <div class="modal-content">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 5px;">
            <h3>Campos Adicionales</h3>
            <span class="close">&times;</span>
        </div>
        <hr style="margin-bottom: 10px;">
        <br>
        <div class="campos-adicionales">
            <div class="col-only">
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" required>
            </div>

            <div class="col-only">
                <label for="accion-cierre">Acción de Cierre:</label>
                <input type="text" id="accion-cierre" name="accion-cierre" required>
            </div>
            <div class="col-only ">
                <label for="responsable">Responsable (nombre-cargo):</label>
                <input type="text" id="responsable" name="responsable" required>
            </div>

            <div class="col-only">
                <label for="dateCriteria">Fecha:</label>
                <input type="date" id="dateCriteria" name="dateCriteria" required>
            </div>
        </div>
        <div class="row-fin">
            <a type="button" id="editar" data-id="' + row.breachedCriteria_Id + '" style="display:  none; with: 100%"
                class="btn btn-primary">Editar</a>
            <a type="button" id="agregar" class="btn btn-success">Agregar</a>
            <a type="button" id="cancelar" class="btn btn-dark">Cancelar</a>
        </div>
        <hr style="margin-bottom: 10px;">
        <div>
            <table id="tablaDatos" class="table table-bordered table-hover" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Accion de cierre</th>
                        <th>Responsable</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                <tfoot>

                </tfoot>


            </table>
        </div>
    </div>
</div>


<script>
    var openModalCriterios = document.getElementById("openModalCriterios");
    var modalCriterios = document.getElementById("modalCriterios");
    var spanCriterios = modalCriterios.getElementsByClassName("close")[0];

    openModalCriterios.onclick = function () {
        updateTable();
        modalCriterios.style.display = "block";
    }

    spanCriterios.onclick = function () {
        modalCriterios.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modalCriterios) {
            modalCriterios.style.display = "none";
            updateTable();
        }
    }

    $(document).ready(function () {
        $('#agregar').click(function () {
            // Obtaining values from the form
            const breachedCriteria_Description = $('#descripcion').val();
            const breachedCriteria_ClosingAction = $('#accion-cierre').val();
            const breachedCriteria_UserName = $('#responsable').val();
            const breachedCriteria_Date = $('#dateCriteria').val();
            const breachedCriteria_IdInspection = '{{ Inspection_Id }}';

            toastr.clear();

            $.ajax({
                type: 'POST',
                url: '/addCriteria',
                contentType: 'application/json',
                data: JSON.stringify({
                    breachedCriteria_Description,
                    breachedCriteria_ClosingAction,
                    breachedCriteria_UserName,
                    breachedCriteria_Date,
                    breachedCriteria_IdInspection,
                }),
                success: function (data) {
                    if (data.success) {
                        toastr.success('Haz agregado un registro', 'Registro exitoso', { "positionClass": "toast-top-right my-custom-class" });
                        updateTable();
                    } else {
                        toastr.error(data.message || 'Error en la base de datos', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                    }
                },
                error: function (error) {
                    toastr.error('Hay campos vacios', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                }
            });
        });
    });

    function updateTable() {
        $.ajax({
            url: `/listCriteria/{{Inspection_Id}}`,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Destruir la instancia DataTable existente (si existe)
                if ($.fn.DataTable.isDataTable('#tablaDatos')) {
                    $('#tablaDatos').DataTable().destroy();
                }

                // Limpiar el cuerpo de la tabla
                $('#tablaDatos tbody').empty();


                $.each(data, function (index, row) {
                    var opcionesHtml = '<td>' +
                        '<button class="btn btn-primary btn-editar" data-id="' + row.breachedCriteria_Id + '">Editar</button> ' +
                        '<button class="btn btn-danger btn-eliminar" data-id="' + row.breachedCriteria_Id + '">Eliminar</button>' +
                        '</td>';

                    // Agregar fila al cuerpo de la tabla
                    $('#tablaDatos').append('<tr><td>' +
                        row.breachedCriteria_Description + '</td><td>' +
                        row.breachedCriteria_ClosingAction + '</td><td>' +
                        row.breachedCriteria_UserName + '</td>' +
                        opcionesHtml + '</tr>'
                    );
                });

                $('#tablaDatos').DataTable({
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json'
                    },
                    responsive: true
                });


                // Agrega eventos para los botones de editar y eliminar
                $('#tablaDatos').on('click', '.btn-editar', function () {
                    var id = $(this).data('id');
                    console.log('Editar', id);

                    $('#editar').data('edit-id', id);
                    $('#agregar').hide();
                    $('#editar').show();

                    // Fetch data for editing
                    fetch(`/getDataCriteria/${id}`)
                        .then(response => response.json())
                        .then(data => {
                            // Populate modal fields with retrieved data
                            $('#descripcion').val(data[0].breachedCriteria_Description);
                            $('#accion-cierre').val(data[0].breachedCriteria_ClosingAction);
                            $('#responsable').val(data[0].breachedCriteria_UserName);
                            const fechaFormateada = new Date(data[0].breachedCriteria_Date).toISOString().split('T')[0];
                            $('#dateCriteria').val(fechaFormateada);
                        })
                        .catch(error => console.error('Error fetching data:', error));
                });

                $('#tablaDatos').on('click', '.btn-eliminar', function () {
                    var id = $(this).data('id');

                    if (confirm('¿Estás seguro de que deseas eliminar este registro?')) {
                        $.ajax({
                            type: 'POST',
                            url: `/deleteCriteria/${id}`, // Ajusta la ruta según tu configuración
                            success: function (data) {
                                if (data.success) {
                                    toastr.success('Has eliminado el registro', 'Eliminación exitosa', { "positionClass": "toast-top-right my-custom-class" });

                                    updateTable();
                                } else {
                                    toastr.error(data.message || 'Error en la base de datos', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                                }
                            },
                            error: function (error) {
                                toastr.error('Error al intentar eliminar el registro', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                            }
                        });
                    }
                });
            },
            error: function (error) {
                console.error('Error al obtener datos:', error);
            }
        });
    }

    $(document).ready(function () {
        $('#cancelar').on('click', function () {
            if ($('#agregar').is(':visible')) {
                $('#descripcion').val('');
                $('#accion-cierre').val('');
                $('#responsable').val('');
                $('#dateCriteria').val('');
            } else if ($('#editar').is(':visible')) {
                $('#editar').hide();
                $('#agregar').show();
                $('#descripcion').val('');
                $('#accion-cierre').val('');
                $('#responsable').val('');
                $('#dateCriteria').val('');
            }
        });
        
        $('#editar').click(function () {
            const editId = $('#editar').data('edit-id');
            console.log(editId);

            const breachedCriteria_Description = $('#descripcion').val();
            const breachedCriteria_ClosingAction = $('#accion-cierre').val();
            const breachedCriteria_UserName = $('#responsable').val();
            const breachedCriteria_Date = $('#dateCriteria').val();

            toastr.clear();

            $.ajax({
                type: 'POST',
                url: `/editCriteria/${editId}`,
                contentType: 'application/json',
                data: JSON.stringify({
                    breachedCriteria_Description,
                    breachedCriteria_ClosingAction,
                    breachedCriteria_UserName,
                    breachedCriteria_Date,
                }),
                success: function (data) {
                    if (data.success) {
                        toastr.success('Has editado el registro', 'Edición exitosa', { "positionClass": "toast-top-right my-custom-class" });

                        $('#descripcion').val('');
                        $('#accion-cierre').val('');
                        $('#responsable').val('');
                        $('#dateCriteria').val('');

                        $('#editar').hide();
                        $('#agregar').show();

                        updateTable();
                    } else {
                        toastr.error(data.message || 'Error en la base de datos', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                    }
                },
                error: function (error) {
                    toastr.error('Hay campos vacíos o error en la edición', 'Error', { "positionClass": "toast-top-right my-custom-class" });
                }
            });
        });
    });


</script>