<style>
    p {
        font-weight: 400;
    }
</style>

<div class="container">
    <div class="row mt-5">
        <h1 class="text-light">Buscar usuario</h1>
        <div class="row align-items-center">
            <div class="col d-flex justify-content-end" style="">
                <a href="/addInspect" class="nextBtn" style="text-decoration: none; background-color: var(--primary-color)">
                    Registrar vehiculo
                </a>
            </div>
        </div>
        {{#if noData}}
        <div class="col md-3" style="padding-top: 20px;">
            <center style="padding-top: 100px;">
                <h1>{{noData}}</h1>
            </center>
        </div>
        {{/if}}
        {{#if inspections}}
        <div class="col md-3" style="padding-top: 20px;">
            <table id="example" class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Placa</th>
                        <th>Tipo de carro</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each inspections}}
                    <tr>
                        <th>
                            <p>{{driverId}}</p>
                        </th>
                        <th>
                            <p>{{name}}</p>
                        </th>
                        <th>
                            <p>{{idLicensePlate}}</p>
                        </th>
                        <th>
                            <p>{{vehicleType}}</p>
                        </th>
                        <th>
                            <a href="/edit/{{idLicensePlate}}" class="btn btn-warning">Info. Vehiculo</a>
                            <a href="/inspectVehiculo/{{idLicensePlate}}" class="btn btn-primary"><i
                                    class="fa-solid fa-pencil"></i> Inspeccionar</a>
                        </th>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                  
                </tfoot>
            </table>
        </div>
        {{/if}}
    </div>
</div>