<style>
    body {
        align-items: center;
        justify-content: center;
    }




    .accordion-button:focus {
        box-shadow: none;
    }




    .accordion-body {
        background-color: #385c7e;
    }

    .preguntas {
        padding: 35px 40px;

        border-radius: 20px;
        width: 100%;
        background-color: #fffffffb;
    }



    .accordion-button:not(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }

    .accordion-button:is(.collapsed) {
        background-color: rgb(255, 255, 255);
        color: #000000;
    }
</style>
<div class="container p-4">
    <div class="row">
        <div class="col-md-9  mx-auto">

            <form action="/inspectVehiculos/{{id_placa}}" id="encuestaForm" method="post" enctype="multipart/form-data">
                <div class="row" style="align-items: center; justify-content: center;">
                    <div class="col-6">
                        <div class="input-group ">
                            <label for="fecha" class="input-group-text">Fecha de inspeccion: </label>
                            <input class="form-control" type="date" name="fecha" id="fecha">
                        </div>
                    </div>
                </div>
                <br>

                {{#each especificacion}}
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="margin-top: 10px;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#_acor{{id_especificaciones}}" aria-expanded="false"
                                aria-controls="#_acor{{id_especificaciones}}"
                                style="font-family: 'Open Sans', sans-serif;">
                                {{id_especificaciones}}. {{detalle}}

                            </button>
                        </h2>
                        <div id="_acor{{id_especificaciones}}" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                {{#each ../subespecificacion}}
                                {{#if (eq especificacion_id ../id_especificaciones)}}
                                <div class="preguntas">
                                    <h5>{{detalle}}</h5>
                                    <br>
                                    <div class="row" name="{{id_subEspecificaciones}}">
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}" id="{{id_subEspecificaciones}}bueno"
                                                autocomplete="off" value="1">
                                            <label class="btn btn-outline-success" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}bueno">Bueno</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}" id="{{id_subEspecificaciones}}malo"
                                                autocomplete="off" value="2">
                                            <label class="btn btn-outline-danger" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}malo">Malo</label>
                                        </div>
                                        <div class="col-4">
                                            <input type="radio" class="btn-check respuesta"
                                                name="{{id_subEspecificaciones}}"
                                                id="{{id_subEspecificaciones}}no_aplica" autocomplete="off" value="3">
                                            <label class="btn btn-outline-secondary" style="width: 100%;"
                                                for="{{id_subEspecificaciones}}no_aplica">No
                                                Aplica</label>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                {{/if}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item" style="margin-top: 10px;">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#_acor" aria-expanded="false" aria-controls="#_acor"
                                style="font-family: 'Open Sans', sans-serif;">
                                FINALIZACIÓN

                            </button>
                        </h2>
                        <div id="_acor" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">

                                <div class="preguntas">
                                    <h5>Nombre completo y firma del inspecctor</h5>
                                    <br>
                                    <div class="row" name="">
                                        <div class="col-9">
                                            <div class="input-group" style="border-color: black !important;">
                                                <input type="text" name="inspector" id="inspector" class="form-control"
                                                    placeholder="Nombre completo">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group" style="border-color: black !important;">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#modalFirma" style="width: 100%;">
                                                    Reemplazar firma
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="row mt-3">
                                            <div class="col-12">
                                                <img id="firmaPrevia" name="firma" src="" alt="" style="max-width: 20%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
               
                <div class="card text-center" style="border: none;">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="modalFirma" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir Firma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="inputFirma" class="input-group-text">Seleccionar una imagen de firma</label>
                    <input type="file" class="form-control-file" id="inputFirma" >
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#dibujarFirmaModal">Dibujar Firma</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dibujarFirmaModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dibujar Firma</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="border-primary" >
                        <canvas id="firma" style="touch-action: none; border: 1px solid; border-radius: 10px;" width="400" height="200"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button id="guardarFirma" class="btn btn-primary mt-3" style="width: 100%;">Guardar</button>
                    </div>
                    <div class="col-6">
                        <button id="borrarFirma" class="btn btn-secondary mt-3" style="width: 100%;">Borrar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signature_pad/1.5.3/signature_pad.min.js"></script>
<script>
   /* $(document).ready(function () {
        $('#encuestaForm').submit(function (e) {
            var unansweredQuestions = [];
            const alreadyChecked = new Set();
            $('input[type="radio"]').each(function () {
                const name = $(this).attr('name');
                if (!alreadyChecked.has(name)) {
                    alreadyChecked.add(name);
                    if ($(`input[name="${name}"]:checked`).length === 0) {
                        const pregunta = $(this).closest('.preguntas').find('h5').text().trim();
                        unansweredQuestions.push("Pregunta " + name + ": " + pregunta);
                    }
                }
            });

            if (unansweredQuestions.length > 0) {
                e.preventDefault();
                var message = "Por favor, responde las siguientes preguntas:\n" + unansweredQuestions.join("\n");
                alert(message);
            }
        });
    });*/
    
    document.addEventListener("DOMContentLoaded", function () {
        try {
            document.getElementById('inputFirma').addEventListener('change', function () {
                var inputFirma = document.getElementById('inputFirma');
                var firmaPrevia = document.getElementById('firmaPrevia');

                if (inputFirma.files.length > 0) {
                    var selectedImage = inputFirma.files[0];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var imageData = e.target.result;
                        firmaPrevia.src = imageData; // Muestra la imagen previamente cargada
                        firmaPrevia.style.display = 'block';

                        $('#modalFirma').modal('hide');
                    };

                    reader.readAsDataURL(selectedImage);
                }
            });
        } catch (error) {
            console.error("Se produjo un error:", error);
        }


        try {
            // JavaScript para la funcionalidad de dibujo y previsualización en el modal "Dibujar Firma"
            var canvas = document.getElementById('firma');
            var signaturePad = new SignaturePad(canvas);

            document.getElementById('guardarFirma').addEventListener('click', function () {
                var signatureData = signaturePad.toDataURL(); // Obtiene la firma como una imagen en formato base64

                // Actualiza la fuente de la imagen con la firma previa
                var firmaPrevia = document.getElementById('firmaPrevia');
                firmaPrevia.src = signatureData;
                firmaPrevia.style.display = 'block';

                $('#dibujarFirmaModal').modal('hide');
            });

            document.getElementById('borrarFirma').addEventListener('click', function () {
                signaturePad.clear(); // Borra la firma en el canvas

                // Borra la firma previa
                var firmaPrevia = document.getElementById('firmaPrevia');
                firmaPrevia.src = '';
                firmaPrevia.style.display = 'none';
            });
        } catch (error) {
            console.error("Se produjo un error:", error);
        }
    });

</script>