<section class="container">
    <header>Tabla de usuarios activos</header>
    <br>
    {{#if users}}
    <div class="col md-3" style="padding-top: 20px;">
        <table id="example" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>CONDUCTOR</th>
                    <th>N LICENCIA</th>
                    <th>ESTADO</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>
                        {{User_Id}}
                    </td>
                    <td>
                        {{User_FirstName}} {{User_FirstLastName}} {{User_SecondLastName}}
                    </td>
                    <td>
                        {{User_UserName}}
                    </td>
                    <td>
                        {{StatusEvaSys_Name}}
                    </td>
                    <td>
                        <a href="/listVehicles/{{../Vehicle_Id}}/linkUser/{{User_Id}}" class="btn" style="background: rgb(33, 255, 207); border: 1px solid black"><i class="fa-solid fa-person-circle-plus"></i> Vincular</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
</section>