<section class="container">
    <header>Tabla de inspección diaria pre operacional de vehículos</header>
    <br>
    {{!-- <div class="col d-flex justify-content-initial">
        <a href="/link" class="btn btn-info" style="text-decoration: none;">
            Vicular vehiculo
        </a>
    </div> --}}
    {{#if inspections}}
    <div class="col md-3" style="padding-top: 5px;">
        <table id="inspections" class="table table-hover" style="width: 100%;">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>CONDUCTOR</th>
                    <th>PLACA</th>
                    <th>TIPO DE VEHICULO</th>
                    <th>PERTENECE</th>
                    <th>COMPAÑIA</th>
                    {{!-- <th>ESTADO</th> --}}
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
                {{#each inspections}}
                <tr>
                    <td>
                        {{Inspection_Id}}
                    </td>
                    <td>
                        {{User_FirstName}} {{User_FirstLastName}} {{User_SecondLastName}}
                    </td>
                    <td>
                        {{Vehicle_Plate}}
                    </td>
                    <td>
                        {{TypeVehicle_Name}}
                    </td>
                    <td>
                        {{Belongs_Text}}
                    </td>
                    <td>
                        {{CompanyVehicle_Name}}
                    </td>
                    {{!-- <td>
                        {{#if (eq StatusEvaSys_Name "Activo")}}
                        <a href="/editLink/{{Inspection_Id}}"
                            style="width: 100%; text-align: center; background-color: rgb(8, 238, 8); display: block; border-radius: 20px; margin-top: 5px; padding: 2px; color: white; text-decoration: none;">
                            {{StatusEvaSys_Name}}
                        </a>
                        {{else}}
                        <a href="/editLink/{{Inspection_Id}}"
                            style="width: 100%; text-align: center; background-color: rgb(253, 2, 2); display: block; border-radius: 20px; margin-top: 5px; padding: 2px; color: white; text-decoration: none;">
                            {{StatusEvaSys_Name}}
                        </a>
                        {{/if}}
                    </td> --}}
                    <td>


                        <div style="display: flex; justify-content: space-evenly;">
                            <a href="/completedInspections/{{Inspection_Id}}" class="btn btn-info">
                                <i class="fa-solid fa-magnifying-glass-plus"></i>
                                Revisar</a>
                        </div>


                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
    {{/if}}
</section>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var deleteButtons = document.querySelectorAll('.btn-danger');
        var modalVehicleForm = document.getElementById('modalVehicle');
        deleteButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var idLicensePlate = this.getAttribute('data-id');
                console.log(idLicensePlate);
                var inputHidden = document.createElement('input');
                inputHidden.type = 'hidden';
                inputHidden.name = 'idLicensePlate';
                inputHidden.value = idLicensePlate;
                modalVehicleForm.appendChild(inputHidden);
            });
        });
    });
</script>